body {
  margin: 0px; }
  body .header {
    background: #2C2950;
    padding: 20px 60px 0px;
    position: relative; }
    body .header h2 {
      font-family: Helvetica;
      font-size: 18px;
      color: #6BB4ED;
      display: inline-block; }
    body .header .userName {
      position: absolute;
      top: 30px;
      right: 60px; }
      body .header .userName img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
      body .header .userName p {
        font-family: Helvetica;
        font-size: 14px;
        color: #FFFFFF;
        display: inline-block;
        margin: 10px 0 10px 10px;
        vertical-align: top; }
    body .header .ethValue {
      margin: 30px 0; }
      body .header .ethValue p {
        font-family: Helvetica;
        font-size: 10px;
        color: #AFF8C6;
        margin: 3px; }
      body .header .ethValue span {
        font-family: Helvetica;
        font-size: 20px;
        color: #AFF8C6;
        border-bottom: 2px solid #AFF8C6; }
    body .header .tablinks {
      background: none;
      border: none;
      margin-right: 80px;
      padding-bottom: 15px; }
      body .header .tablinks:focus {
        outline: transparent; }
      body .header .tablinks.active {
        border-bottom: 4px solid #AFF8C6; }
      body .header .tablinks a {
        font-family: Helvetica;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all linear 0.15s; }
  body .tabcontent .tab {
    display: none; }
  body .tabcontent .tab.active {
    display: block; }
  body .tabcontent .token-holder {
    background-color: #F3F3F3;
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 20px; }
    body .tabcontent .token-holder h5 {
      font-family: Helvetica-Bold;
      font-size: 20px;
      color: #D1D1D1;
      margin: 0;
      display: inline-flex; }
    body .tabcontent .token-holder input {
      border: none; }
    body .tabcontent .token-holder .input_field {
      border-bottom: 2px solid #979797;
      background-color: transparent; }
      body .tabcontent .token-holder .input_field:focus {
        outline: none; }
  body .trading-holder {
    text-align: center;
    margin-bottom: 40px; }
    body .trading-holder .price {
      width: 12.66%;
      display: inline-block;
      text-align: left;
      border: 1px solid #E2E2E2;
      border-radius: 1px;
      box-sizing: border-box;
      margin: 0px 15px;
      min-width: 135px;
      padding: 6px; }
      body .trading-holder .price span {
        font-family: Helvetica-Light;
        font-size: 10px;
        color: #302E2E; }
      body .trading-holder .price p {
        font-family: Helvetica-Light;
        font-size: 20px;
        color: #27C359;
        margin: 0; }
    body .trading-holder .xrp-btn {
      background-image: linear-gradient(-180deg, #9EEDC7 0%, #72BDAB 100%);
      border: 1px solid #E2E2E2;
      border-radius: 4px;
      vertical-align: top;
      height: 55px;
      text-decoration: none;
      outline: none; }
      body .trading-holder .xrp-btn p {
        font-family: Helvetica-Bold;
        font-size: 20px;
        color: #FFFFFF; }
  body .order-tables {
    text-align: center; }
    body .order-tables .table-holder {
      width: 21%;
      margin: 0px 12px;
      border-collapse: collapse;
      display: inline-block; }
      body .order-tables .table-holder table {
        width: 100%; }
        body .order-tables .table-holder table .order-main-header th {
          font-family: Helvetica-Bold;
          font-size: 14px;
          color: #302E2E;
          padding: 10px 0px 10px 10px;
          border: none; }
        body .order-tables .table-holder table .order-sub-heading th {
          color: #BBBBBB !important;
          height: 30px;
          font-family: Helvetica-Light;
          font-size: 12px; }
        body .order-tables .table-holder table th,
        body .order-tables .table-holder table td {
          padding: 14px 0px 14px 10px;
          text-align: left;
          border-bottom: 1px solid #E2E2E2;
          width: 33%;
          color: #302E2E;
          font-size: 12px; }
          body .order-tables .table-holder table th:nth-child(2),
          body .order-tables .table-holder table td:nth-child(2) {
            color: #27C359; }

/*# sourceMappingURL=style.css.map */
