body{
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.profile-container{
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.profile{
   border: 1px solid #ccc;
    line-height: 100%;
    margin: 22px 0;
    padding: 30px 0 30px;
    position: relative;
}
.profile-details{
    width: 50%;
    padding: 0px 15px;
    display: table;
}
.profile-image{
   width: 25%;
   display: table-cell;
   vertical-align: middle;
}
.profile-image img{
    display: block;
    float: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    margin: 0 auto;
    vertical-align: middle;
}
.profile-info{
    width: 75%;
    display: table-cell;
    vertical-align: middle;
}
.account_username{
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 0;
}
.user_login-time{
    font-size: 12px;
    color: #999;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
.user_login-time {
  font-size: 12px;
  color: #999;
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
}
.user_paying-price{
    font-size: 14px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
}
.user_pay-discount{
  color: #999;
}
.profile-login{
  width: 100%;
  display: table;
}
.login-holder{
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
.user-login-holder{
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.login_pwd-header {
    background: #f4f4f4 none repeat scroll 0 0;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    color: #454545;
    font-size: 14px;
}
.user-box_inside {
    float: left;
    padding: 20px 0;
    width: 100%;
    display: table;
}
.login-pwd{
  width: 75%;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
}
.security_con {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    margin-right: 7px;
}
.security_info {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.security_info h4 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px;
}
.security_info p {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 1.42857143;
}
.imgicon {
    background: url(images/icons.png ) no-repeat scroll center center;
    display: inline-block;
    height: 38px;
    vertical-align: middle;
    width: 38px;
}
.login-change{
    width: 25%;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}
.btn_cs {
    background: #134351 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90px;
    padding: 10px 13px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
}
.btn_cs a {
    text-decoration: none;
    color: #fff;
}
.btn_cs:hover {
    background: #2b97b4 none repeat scroll 0 0;
}
.img-api{
  background-position: 0 -193px !important;
}
.fix-right-padding{
  padding: 0 15px 0 0;
}
.fix-left-padding{
  padding: 0 0 0 15px;
}
.img-mobile{
  background-position: 0 -45px !important;
}
.middle-line{
  width: 95%;
  padding: 0 15px;
}
.space_height {
    background: #ccc none repeat scroll 0 0;
    display: inline-flex;
    height: 1px;
    margin: 18px 0 37px;
    text-align: center;
    width: 100%;
}
.img-google {
    background-position: 0 -144px !important;
}
.distribution_title{
   color: #454545;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.table_distribution-history{
  width: 100%;
}
.table_distribution-history table{
   background-color: transparent;
   border: 1px solid #ccc;
   width: 100%;
   max-width: 100%;
   margin-bottom: 20px;
   border-spacing: 0;
  border-collapse: collapse;
}
.table_distribution-history table>tbody>tr{
    border: 1px solid #ccc;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.table_distribution-history table>tbody>tr>th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
    background: #f4f4f4 none repeat scroll 0 0;
    border: medium none;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}
.zups_td {
    color: #454545;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.zups_td p{
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 20px;
}
.lastlogin_title{
  color: #454545;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.lastlogin_histroy{
  width: 100%;
}
.lastlogin_histroy table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
.lastlogin_histroy table>tbody>tr{
    border: 1px solid #ccc;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.lastlogin_histroy table>tbody>tr>th{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  background: #f4f4f4 none repeat scroll 0 0;
  border: medium none;
  color: #999;
  text-align: center;
  font-size: 14px;
}
.lastlogin_histroy table>tbody>tr>td{
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.amount{
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    line-height: 1.42857143;
}
.overview-holder table>tbody>tr>td>span{
   font-size: 14px;
   padding: 0;
  }
.overview-holder table>tbody>tr>td{
  padding: 8px;
}
.deposit{
  color: #2b97b4;
  cursor: pointer;
  line-height: 21px;
}
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 80px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;
background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px 40px;
border: 1px solid #888;
width: 50%;
}

.modal .modal-content .close {
color: #aaaaaa;
float: right;
font-size: 10px;
font-weight: bold;
}

.modal .modal-content .close:hover {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.form-label{
  display: block;
  color: #454545;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-label:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f04134;
}
.form-label:after{
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
}
.form-input-holder{
   padding: 6px 7px;
    height: 32px;
    width: 50%;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin-bottom: 10px;
}
.form-input-holder:hover{
  border-color: #4896f2;
}
.min-amt{
  color: #aaaaaa;
  font-size: 14px;
}
.fee{
  color: #454545;
  font-size: 14px;
}
.fee span{
  color: #aaa;
  font-size: 14px;
}
.confirm-btn {
    background: #134351 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 90px;
    padding: 10px 13px;
    text-align: center;
}
.confirm-btn:hover{
  background: #2b97b4 none repeat scroll 0 0;
}
