body {
    margin: 0px;
    .header {
        background: #2C2950;
        padding: 20px 60px 0px;
        position: relative;
        h2 {
            font-family: Helvetica;
            font-size: 18px;
            color: #6BB4ED;
            display: inline-block;
        }
        .userName {
            position: absolute;
            top: 30px;
            right: 60px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            p {
                font-family: Helvetica;
                font-size: 14px;
                color: #FFFFFF;
                display: inline-block;
                margin: 10px 0 10px 10px;
                vertical-align: top;
            }
        }
        .ethValue {
            margin: 30px 0;
            p {
                font-family: Helvetica;
                font-size: 10px;
                color: #AFF8C6;
                margin: 3px;
            }
            span {
                font-family: Helvetica;
                font-size: 20px;
                color: #AFF8C6;
                border-bottom: 2px solid #AFF8C6;
            }
        }
        .tablinks {
            background: none;
            border: none;
            margin-right: 80px;
            padding-bottom: 15px;
            &:focus {
                outline: transparent;
            }
            &.active {
                border-bottom: 4px solid #AFF8C6;
                ;
            }
            a {
                font-family: Helvetica;
                font-size: 16px;
                color: #FFFFFF;
                text-decoration: none;
                transition: all linear 0.15s;
            }
        }
    }
    .tabcontent {
        .tab {
            display: none;
        }
        .tab.active {
            display: block;
        }
        .token-holder {
            background-color: #F3F3F3;
            padding: 20px 0px;
            text-align: center;
            margin-bottom: 20px;
            h5 {
                font-family: Helvetica-Bold;
                font-size: 20px;
                color: #D1D1D1;
                margin: 0;
                display: inline-flex;
            }
            input {
                border: none;
            }
            .input_field {
                border-bottom: 2px solid #979797;
                background-color: transparent;
                &:focus {
                    // outline-offset: -2px;
                    outline: none;
                }
            }
        }
    }
    .trading-holder {
        text-align: center;
        margin-bottom: 40px;
        .price {
            width: 12.66%;
            display: inline-block;
            text-align: left;
            border: 1px solid #E2E2E2;
            border-radius: 1px;
            box-sizing: border-box;
            margin: 0px 15px;
            min-width: 135px;
            padding: 6px;
            span {
                font-family: Helvetica-Light;
                font-size: 10px;
                color: #302E2E;
            }
            p {
                font-family: Helvetica-Light;
                font-size: 20px;
                color: #27C359;
                margin: 0;
            }
        }
        .xrp-btn {
            background-image: linear-gradient(-180deg, #9EEDC7 0%, #72BDAB 100%);
            border: 1px solid #E2E2E2;
            border-radius: 4px;
            vertical-align: top;
            height: 55px;
            text-decoration: none;
            outline: none;
            p {
                font-family: Helvetica-Bold;
                font-size: 20px;
                color: #FFFFFF;
            }
        }
    }
    .order-tables {
        text-align: center;
        .table-holder {
            width: 21%;
            margin: 0px 12px;
            border-collapse: collapse;
            display: inline-block;
            table {
                width: 100%;
                .order-main-header {
                    th {
                        font-family: Helvetica-Bold;
                        font-size: 14px;
                        color: #302E2E;
                        padding: 10px 0px 10px 10px;
                        border: none;
                        // height: 33px;
                    }
                }
                .order-sub-heading {
                    th {
                        color: #BBBBBB !important;
                        height: 30px;
                        font-family: Helvetica-Light;
                        font-size: 12px;
                    }
                }
                th,
                td {
                    padding: 14px 0px 14px 10px;
                    text-align: left;
                    border-bottom: 1px solid #E2E2E2;
                    width: 33%;
                    color: #302E2E;
                    font-size: 12px;
                    &:nth-child(2) {
                        color: #27C359;
                    }
                }
            }
        }
    }
}
